:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.container { 
  display: inline-flex;
  border: solid black;
  flex-direction: row;
  height: 22rem;
  width: 20rem;
}

.img {
  height: 20rem;
  width: auto;
}

.text-container {
  display: inline-flex;
  position: relative;
  top: 18rem;
  right: 15rem;  
}